body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  color: green;
}

button{
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 5px;
  color:black;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  background-color: #FF825D;
  border-radius: 10px;
  box-shadow: 0 10px 0 #D95B34;
  transition-duration: 0.3s;
  cursor: pointer;
}
button:hover{
  box-shadow: 0 3px 0 #D95B34;
  transform: translateY(7px);
}